html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}




.wrap{
	width:940px;
	margin: 0 auto  ;
}


.header{
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo{
	float:left;
	margin-top:5px;
}	

.small_logo{
	width: 50px;
	float:right;
	padding: 10px;
}

.text{
		padding-top:55px;
		padding-left:230px;
}

.text li{
	float: left;
	list-style:none;
}

.text li a{
	text-align: center;
	padding:0.5em;
	width: 100px;
	display:block;
	text-decoration: none;
	color:#000;
}

.text li a:hover{
	background: gray;
	color:white;
}

@media(max-width:940px){
	img{
	max-width: 100%;
	height: auto;
}
	.small_logo{
		display:none;
	}
	.text{
		float:left;
		padding-top:0px;
		padding-left:0px;
		width: 50%;
	}
	.text li{
		

	}
}
@media(max-width:414px){
	img{
	max-width: 100%;
	height: auto;
	}
	.logo{
		float:none;
	}
	.text li{
		float:none;
		
	}
}

.content1{
	height: auto;
	width:68%;
	float: left;
} 


.content2{
	background: #272727;
	width: 32%;
	float: left;	
	height: auto;
	padding-bottom: 55px;
} 




.h2_1{
	font-size: 48px;
	color: #66B3FF;
	padding-left: 50px;
	padding-top: 35px;
	padding-right: 50px;
	padding-bottom: 20px;
}

.p1{
	color:#fff;
	padding-left:50px;
	padding-right: 20px;
	padding-bottom: 30px;
	line-height: 200%;

}

.bt{
	color:#fff;
	background: #4F4F4F;
	padding-top: 4%;
	padding-right: 7%;
	padding-bottom: 3%;
	padding-left: 7%;
	margin-left: 20%;
	border: none;
	text-align: center;
}
@media(max-width: 940px){
	img{
	max-width: 100%;
	height: auto;
	}
	.wrap{
		width: 100%;
	}
	.content1{
		float:none;
		width: 100%;
	}
	.content1 img{
		width: 100%;
	}
	.content2{
		width: 100%;
		height: auto;
	}
	.h2_1{
		width:66%;
	}
}

.clear{
	clear: both;
}

.content3{
	margin-top: 30px;
	background: #fff;
	padding: 30px;
	line-height: 30px;
	font-size: 110%;
	margin-bottom:30px; 
} 

span{
	color: #66B3FF;
}


.content4 h2{
	font-size: 32px;
	margin-bottom:10px; 
} 

.leftblock{
	width: 57%;
	padding: 30px;
	float: left;
}

.rightblock{
	width: 22%;
	padding: 30px;
	float: left;
}

.lfb1{
	float:left;
	margin-bottom: 20px
}

b{
	font-weight: bold;
	font-size:25px; 
}

.lfb1_1{
	float: right;
	width: 320px;
	margin-left: 20px;
}

.p2{
	font-size:18px;
	line-height: 20px; 
}

.lfb2{
	float:left;
}

.lfb2_1{
	float: right;
	width: 320px;
	margin-left: 20px;
}

.rb1 li{
	margin-bottom: 13px;
	list-style-type: none;
	font-size: 18px;
}
@media(max-width: 940px){
	.leftblock{
		float:none;
		width: 100%;
		padding:0;
	}
	
	.lfb1_1{
		padding: 0;
		float:left;
		width: 70%;
	}
	.p2{
		width: 70%;
		margin-bottom: 10%;
	}
	.lfb2_1{
		padding: 0;
		float:left;
		width: 70%;
	}
	.rightblock{
		float:none;
		padding: 0;
		width: 100%;
	}
	.content3{
		padding: 0;
	}
	.rb1{
		float: left;
		width: 40%;
	}
	.rb2{
		float:left;
		width: 40%;
	}
}
.input{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.search{
	color:#66B3FF;
	background: #DDDDDD;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: 20px;
	border: none;
	text-align: center;
}

.footer{
	background: #fff;
	padding:30px;
	text-align: center;
	height: 35px;
}
@media(max-width:940px){
	.wrap{
		width: 100%;
	}
}
@media(max-width:500px){
	.rb1{
		float:none;
	}
	.rb2{
		float:none;
	}
}